.errorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f3f4f6;
  font-family: 'Arial', sans-serif;
}

.errorContent {
  text-align: center;
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 90%;
}

.errorContent h1 {
  font-size: 120px;
  color: #333;
}

.errorContent p {
  font-size: 18px;
  color: #333;
  margin: 1rem 0;
}

.homeButton {
  display: inline-block;
  padding: 1rem;
  background-color: #333;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

.homeButton:hover {
  background-color: #555;
}

@media (max-width: 768px) {
  .errorContent h1 {
    font-size: 80px;
  }

  .errorContent p {
    font-size: 16px;
  }

  .homeButton {
    padding: 12px 25px;
  }
}

@media (max-width: 480px) {
  .errorContent h1 {
    font-size: 60px;
  }

  .errorContent p {
    font-size: 14px;
  }

  .homeButton {
    padding: 10px 20px;
  }
}